<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>服务故障，努力修复中...</title>
<link href="/static/css/base.min.css?v=1.0.1" rel="stylesheet" type="text/css"/>
<style type="text/css">
	body {
		min-width: initial !important;
		background: none;
	}
</style>
</head>

<body style="font-family:Microsoft Yahei;" class="king-errorpage-middle">
	<div class="king-exception-box king-500-page" style="top:50%;">
		<img src="/static/img/error/500.png">
		<h1>服务故障，努力修复中...</h1>
		<p>服务出现故障，我们正在紧急修复，给您带来不便，敬请谅解。</p>
	</div>
</body>
</html>
