<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>您没有开发权限(403页)</title>
<link href="/static/css/base.min.css?v=1.0.1" rel="stylesheet" type="text/css"/>
<style type="text/css">
    body {
        min-width: initial !important;
        background: none;
    }
    .king-errorpage-middle .king-exception-box h1 {
        line-height: 1.8;
        font-size: 24px;
    }
</style>
</head>

<body style="font-family:Microsoft Yahei;" class="king-errorpage-middle">
    <!--HTML-->
    <div class="king-exception-box king-login-page">
        <img src="/static/img/error/403.png">
        <h1>您没有开发权限，请到联系管理员添加开发权限！</h1>
    </div>
</body>
</html>
