/**
 * Tencent is pleased to support the open source community by making 蓝鲸智云PaaS平台社区版 (BlueKing PaaS Community Edition) available.
 * Copyright (C) 2017-2018 THL A29 Limited, a Tencent company. All rights reserved.
 * Licensed under the MIT License (the "License"); you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 * http://opensource.org/licenses/MIT
 * Unless required by applicable law or agreed to in writing, software distributed under the License is distributed on
 * an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations under the License.
 */
const path = require('path')

// 用于配置线上和本地开发数据库
const config = process.env.NODE_ENV === 'production'
    ? {
        database: process.env.GCS_MYSQL_NAME,        // 线上数据库名
        username: process.env.GCS_MYSQL_USER,        // 线上数据库用户名
        password: process.env.GCS_MYSQL_PASSWORD,    // 线上数据库密码
        host: process.env.GCS_MYSQL_HOST,            // 线上host
        port: process.env.GCS_MYSQL_PORT,            // 线上端口
        dialect: 'mysql'
    }
    : {
        database: 'vue_visualization',               // 本地开发数据库名
        username: 'xxx',                             // 本地开发数据库用户名
        password: 'xxx',                             // 本地开发数据库密码
        host: 'localhost',                           // 本地开发host
        port: 3306,                                  // 本地开发端口
        dialect: 'mysql'
    }

module.exports = {
    type: 'mysql',
    host: config.host,
    port: config.port,
    username: config.username,
    password: config.password,
    database: config.database,
    entities: [path.resolve(__dirname, '..', 'model/entities/!(base){.js,.ts}')],
    logging: true,              // 开启所有数据库信息打印
    logger: 'advanced-console', // 高亮字体的打印信息
    synchronize: false,         // 自动同步数据库表结构，有删除数据风险，推荐关闭
    migrationsRun: false,       // 会自动执行更新SQL，推荐手动执行脚本，关闭该选项
    extra: {
        connectionLimit:  5
    }
}
