/**
 * Tencent is pleased to support the open source community by making 蓝鲸智云PaaS平台社区版 (BlueKing PaaS Community Edition) available.
 * Copyright (C) 2017-2018 THL A29 Limited, a Tencent company. All rights reserved.
 * Licensed under the MIT License (the "License"); you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 * http://opensource.org/licenses/MIT
 * Unless required by applicable law or agreed to in writing, software distributed under the License is distributed on
 * an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations under the License.
 */

module.exports = process.env.NODE_ENV === 'production'
    // 线上环境配置（npm run build时使用）
    ? {
        // paas-v3 网关api域名前缀 + 环境（prod/stag）， 如 http://bking.com/prod
        URL_PREFIX: '',
        // 应用id
        APP_ID: '',
        // 应用secret
        APP_SECRET: '',
        // 开发者中心链接， 如 http://bking.com/developer-center
        CREATE_URL_PREFIX: ''
    }
    // 本地调试配置（npm run dev时使用）
    : {
        // paas-v3 网关api域名前缀 + 环境（prod/stag）， 如 http://bking.com/stag
        URL_PREFIX: '',
        // 应用id, 可在开发者中心获取
        APP_ID: '',
        // 应用secret， 可在开发者中心获取
        APP_SECRET: '',
        // 开发者中心链接， 如 http://bking.com/developer-center
        CREATE_URL_PREFIX: ''
    }
