.bk-dialog {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2000;
  font-family: "Microsoft YaHei", Helvetica, Arial, sans-serif; }
  .bk-dialog-wrapper {
    display: table;
    width: 100%;
    height: 100%; }
  .bk-dialog-position {
    display: table-cell;
    vertical-align: middle; }
  .bk-dialog-style {
    position: relative;
    width: 400px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.1); }
  .bk-dialog-tool {
    position: absolute;
    top: 0;
    right: 0; }
    .bk-dialog-tool .bk-dialog-mark {
      cursor: pointer; }
  .bk-dialog .bk-dialog-close {
    display: block;
    width: 27px;
    height: 27px;
    line-height: 27px;
    text-align: center;
    margin: 4px 4px 0 0;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: 11px 11px;
    background-position: 50% 50%;
    cursor: pointer;
    display: inline-block; }
    .bk-dialog .bk-dialog-close:hover {
      background-color: #f3f3f3; }
  .bk-dialog .bk-dialog-mark {
    display: block;
    width: 27px;
    height: 27px;
    line-height: 27px;
    margin: 4px 4px 0 0;
    border-radius: 50%;
    text-align: center;
    font-size: 12px;
    color: #4c4c4c; }
    .bk-dialog .bk-dialog-mark:hover {
      background-color: #f3f3f3; }
  .bk-dialog-header {
    padding: 40px 30px 10px;
    color: #333;
    font-size: 22px; }
    .bk-dialog-header .bk-dialog-title {
      margin: 0; }
  .bk-dialog-body {
    padding: 15px 65px;
    color: #666;
    font-size: 14px;
    line-height: 1.5; }
  .bk-dialog-footer {
    text-align: center;
    padding: 20px 65px 40px; }
    .bk-dialog-footer.bk-d-footer {
      height: 60px;
      line-height: 60px;
      padding: 0;
      border-top: 1px solid #e5e5e5;
      background-color: #fafafa; }
    .bk-dialog-footer .bk-dialog-outer {
      padding: 0 10px 0 0;
      text-align: right; }
      .bk-dialog-footer .bk-dialog-outer button {
        width: 72px;
        height: 36px;
        line-height: 34px;
        min-width: 72px;
        margin-right: 10px;
        margin-top: 12px; }
        .bk-dialog-footer .bk-dialog-outer button.bk-dialog-btn-cancel {
          margin-left: 0;
          background-color: #fff; }
  .bk-dialog-title {
    text-align: center;
    font-size: 22px;
    color: #333; }
  .bk-dialog-subtitle {
    color: #666; }
  .bk-dialog-default-status {
    padding: 40px 0; }
    .bk-dialog-default-status.bk-dialog-warning-body {
      padding-bottom: 15px; }
    .bk-dialog-default-status.bk-dialog-warning {
      padding-bottom: 35px; }
    .bk-dialog-default-status ~ .bk-dialog-footer {
      padding-top: 0; }
    .bk-dialog-default-status .bk-dialog-mark {
      display: block;
      margin: 0 auto; }
      .bk-dialog-default-status .bk-dialog-mark.bk-dialog-loading {
        width: 58px;
        height: 58px;
        line-height: 58px;
        font-size: 30px;
        border-radius: 50%;
        animation: loading linear 1s infinite; }
      .bk-dialog-default-status .bk-dialog-mark.bk-dialog-warning, .bk-dialog-default-status .bk-dialog-mark.bk-dialog-error, .bk-dialog-default-status .bk-dialog-mark.bk-dialog-success {
        width: 58px;
        height: 58px;
        line-height: 58px;
        font-size: 30px;
        color: #fff;
        border-radius: 50%; }
      .bk-dialog-default-status .bk-dialog-mark.bk-dialog-warning {
        background-color: #ffc200; }
      .bk-dialog-default-status .bk-dialog-mark.bk-dialog-error {
        background-color: #ff5454; }
      .bk-dialog-default-status .bk-dialog-mark.bk-dialog-success {
        background-color: #5bd18a; }
    .bk-dialog-default-status .bk-dialog-title {
      margin: 20px 20px 0 20px; }
    .bk-dialog-default-status .bk-dialog-subtitle {
      margin: 16px 20px 0 20px; }
  .bk-dialog-error-text {
    color: #ff7979; }
  .bk-dialog-primary-text {
    color: #6793ee; }
  .bk-dialog-btn {
    width: 110px;
    height: 36px;
    box-shadow: none;
    outline: none;
    border-radius: 2px;
    background-color: #fff;
    font-size: 14px;
    border: 1px solid #c3cdd7;
    cursor: pointer;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap; }
    .bk-dialog-btn:hover {
      background-color: #fafafa;
      opacity: 1; }
    .bk-dialog-btn:active {
      background-color: #eee;
      opacity: 1; }
    .bk-dialog-btn.bk-btn-info {
      color: #fff;
      background-color: #88c3ff;
      border-color: #88c3ff; }
      .bk-dialog-btn.bk-btn-info:hover {
        background-color: #7ab9fa;
        border-color: #7ab9fa; }
      .bk-dialog-btn.bk-btn-info:active {
        background-color: #6eb5fe;
        border-color: #6eb5fe; }
    .bk-dialog-btn.bk-btn-primary {
      color: #fff;
      background-color: #3c96ff;
      border-color: #3c96ff; }
      .bk-dialog-btn.bk-btn-primary:hover {
        background-color: #0082ff;
        border-color: #0082ff; }
      .bk-dialog-btn.bk-btn-primary:active {
        background-color: #0978e2;
        border-color: #0978e2; }
    .bk-dialog-btn.bk-btn-danger {
      color: #fff;
      background-color: #ff5656;
      border-color: #ff5656; }
      .bk-dialog-btn.bk-btn-danger:hover {
        background-color: #f72239;
        border-color: #f72239; }
      .bk-dialog-btn.bk-btn-danger:active {
        background-color: #cb2537;
        border-color: #cb2537; }
    .bk-dialog-btn.bk-btn-success {
      color: #fff;
      background-color: #30d878;
      border-color: #30d878; }
      .bk-dialog-btn.bk-btn-success:hover {
        background-color: #00c873;
        border-color: #00c873; }
      .bk-dialog-btn.bk-btn-success:active {
        background-color: #00ae64;
        border-color: #00ae64; }
    .bk-dialog-btn.bk-btn-warning {
      color: #fff;
      background-color: #ffb400;
      border-color: #ffb400; }
      .bk-dialog-btn.bk-btn-warning:hover {
        background-color: #ff9600;
        border-color: #ff9600; }
      .bk-dialog-btn.bk-btn-warning:active {
        background-color: #e38601;
        border-color: #e38601; }
    .bk-dialog-btn-confirm {
      margin-right: 10px;
      color: #fff; }
    .bk-dialog-btn-cancel {
      margin-left: 10px;
      color: #666; }
  .bk-dialog-row {
    text-align: center; }
  .bk-dialog h1 {
    margin: 0;
    padding: 0;
    font-weight: normal; }
  .bk-dialog h2 {
    margin: 0;
    padding: 0;
    font-weight: normal; }
  .bk-dialog h3 {
    margin: 0;
    padding: 0;
    font-weight: normal; }
  .bk-dialog h4 {
    margin: 0;
    padding: 0;
    font-weight: normal; }
  .bk-dialog h5 {
    margin: 0;
    padding: 0;
    font-weight: normal; }
  .bk-dialog h6 {
    margin: 0;
    padding: 0;
    font-weight: normal; }
  .bk-dialog p {
    margin: 0; }
  .bk-dialog a {
    text-decoration: none; }
  .bk-dialog .hidden {
    display: none; }

@keyframes loading {
  from {
    transform: rotate(0); }
  to {
    transform: rotate(360deg); } }