# pkg used in prod env should be added to requirements_prod.txt also

Django==1.8.11
requests==2.21.0
jinja2==2.8
sqlalchemy==1.0.12
pymysql==0.6.7
redis==2.10.5
thrift==0.10.0
gevent==1.1.2
pytz==2016.6.1

# encrypt
pycrypto==2.6.1

markdown==2.6.6
gunicorn==19.6.0
uWSGI==2.0.13.1
PyYAML==5.1

# for fta
arrow==0.10.0

# for apidoc
Pygments==2.1.3
