<%inherit file="/base.html"/>

<%!
    from common.filters import auth
%>
    <%block name='head_content'>
        <!-- 通知公告 -->
        <div class='flayer_desk'></div>

        <!-- 头部横向导航 start -->
        <div class="head" id="header">

            <div class="head_box">
                <div class="inner wrp">
                  <span class="logo_bk">
                      <a title="${_(u'蓝鲸智云桌面')}" href="${SITE_URL}">
                        <img src="${STATIC_URL}${_(u'img/logo/logo_develper_01.png')}"/>
                      </a>
                      <a title="${_(u'蓝鲸智云个人中心')}" href="${SITE_URL}accounts/profile/">
                        <img src="${STATIC_URL}${_(u'img/logo/logo_developer_03.png')}"/>
                      </a>
                  </span>
                    <input type='hidden' name='csrfmiddlewaretoken' value='${csrf_token}'>
                    <div class="account">
                        <div class="account_meta account_info account_meta_primary">
                              % if EDITION == "ee":
                              <a href="#" class="nickname" title="${request.user.username if request.user and request.user.username else ''}">${request.user.username if request.user and request.user.username else ''}</a>
                               <a href="#">
                                <img src="${STATIC_URL}img/getheadimg.jpg" class="avatar">
                                  <!-- removce the is super user check here -->
                                  <!-- <i class="crown"></i> -->
                               </a>
                              % else:
                              <a href="${SITE_URL}accounts/profile/" class="nickname" title="${request.user.username if request.user and request.user.username else ''}">${request.user.username if request.user and request.user.username else ''}</a>
                               <a href="${SITE_URL}accounts/profile/">
                                <img src="${STATIC_URL}img/getheadimg.jpg" class="avatar">
                                  <!-- removce the is super user check here -->
                                  <!-- <i class="crown"></i> -->
                               </a>
                              % endif
                        </div>
                        % if request.user.username:
                            <div class="account_meta account_logout account_meta_primary"><a id="logout" href="${LOGOUT_URL}">${_(u'注销')}</a></div>
                        % endif
                    </div>

                </div>
            </div>

        </div>
        <!-- 头部横向导航 end -->
    </%block>

<!-- 左侧导航 start -->
<%block name='left_content'>
    <%
        user_profile = ''
        relative_path = APP_PATH
        if relative_path.startswith(SITE_URL + "accounts/profile/"):
            user_profile = 'selected'
    %>
  <div class="menu_box" id="menuBar">
    <dl class="menu no_extra" style="border-top:none;">
      <dt class="menu_title clickable ${user_profile}">
      <a href="${SITE_URL}accounts/profile/"><i class="icon_menu user"></i> ${_(u'个人信息')}</a>
      </dt>
    </dl>

  </div>
</%block>
<!-- 左侧导航 end -->

<!-- 右侧内容 start -->
<%block name="right_content_base">
    <%block name="right_content">
    </%block>
</%block>
<!-- 右侧内容 end -->
