<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript">
      var _speedMark = new Date();
      //在js中使用site_url,则这个javascript片段一定要保留
      var site_url = "${SITE_URL}";            // app的url前缀,在ajax调用的时候，应该加上该前缀
    </script>

    <%block name='head'>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

      % if EDITION == "ee":
      <title>${_(u'开发者中心|蓝鲸智云企业版')}</title>
      <meta name="keywords" content="${_(u'开发者中心,游戏运维,运维,服务器管理,模块配置,监控,腾讯游戏,蓝鲸,智云,devops,运维开发,蓝鲸企业版,企业版,作业平台,集成平台,配置平台,管控平台')}" />
      <meta name="description" content="${_(u'蓝鲸智云软件企业版是由蓝鲸智云团队提供的一套基于PaaS的技术解决方案，旨在改变中国运维行业，帮助企业快速达到基础运维支撑能力，并提升技术人员的DevOps能力。该版本提供了配置平台，作业平台，集成平台等强大功能，用户在使用时，请查阅并遵守《蓝鲸智云软件用户服务协议》。')}" />
      % else:
      <title>${_(u'开发者中心|蓝鲸智云社区版')}</title>
      <meta name="keywords" content="${_(u'开发者中心,游戏运维,运维,服务器管理,模块配置,监控,腾讯游戏,蓝鲸,智云,devops,运维开发,蓝鲸社区版,社区版,作业平台,集成平台,配置平台,管控平台')}" />
      <meta name="description" content="${_(u'蓝鲸智云软件社区版是由蓝鲸智云团队提供的一套基于PaaS的技术解决方案，旨在改变中国运维行业，帮助企业快速达到基础运维支撑能力，并提升技术人员的DevOps能力。该版本提供了配置平台，作业平台，集成平台等强大功能，用户在使用时，请查阅并遵守《蓝鲸智云软件用户服务协议》。')}" />
      % endif

      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

      <link href="${STATIC_URL}favicon.ico" rel="Shortcut Icon">

      <!-- bootstrap CSS 公共样式 -->
      <link rel="stylesheet" type="text/css" href="${STATIC_URL}assets/bootstrap-3.1.1/css/bootstrap.min.css">
      <!-- 图标（bk-icon） -->
      <link href="${STATIC_URL}assets/bk-icon-2.0/iconfont.css" rel="stylesheet">
      <!-- bkdialog -->
      <link rel="stylesheet" type="text/css" href="${STATIC_URL}assets/bkDialog-1.0/css/ui-dialog.css">
      <!-- 顶部导航css 私有样式 -->
      <link rel="stylesheet" type="text/css" href="${STATIC_URL}css/layout_head.${CSS_SUFFIX}?v=${STATIC_VERSION}">
      <!-- base 基本样式 -->
      <link rel="stylesheet" type="text/css" href="${STATIC_URL}css/base.${CSS_SUFFIX}?v=${STATIC_VERSION}">
      <!--select2-->
      <link href="${STATIC_URL}assets/select2-3.5.3/select2.css?v=1" rel="stylesheet">
      <!-- paas-dialog -->
      <link href="${STATIC_URL}css/paas-dialog.css?v=${STATIC_VERSION}" rel="stylesheet">
    </%block>
    <style>
      html,body{
          height: 100%;
      }
    </style>
</head>

<body>
    % if EXTERNAL_THEME:
        <link rel="stylesheet" type="text/css" href="${EXTERNAL_THEME}">
    % endif

    <%block name='head_content'>
        <!-- 通知公告 -->
        <div class='flayer_desk'></div>

        <!-- 头部横向导航 start -->
        <div class="head" id="header">

            <div class="head_box">
                <div class="inner wrp">
                  <span class="logo_bk">
                      <a title="${_(u'蓝鲸智云桌面')}" href="${SITE_URL}">
                        <img src="${STATIC_URL}${_(u'img/logo/logo_develper_01.png')}"/>
                      </a>
                      <a title="${_(u'蓝鲸智云开发者中心')}" href="${SITE_URL}app/list/">
                        <img src="${STATIC_URL}${_(u'img/logo/logo_develper_02.png')}"/>
                      </a>
                  </span>
                    <input type='hidden' name='csrfmiddlewaretoken' value='${csrf_token}'>
                    <div class="account">
                        <div class="account_meta account_info account_meta_primary">
                              % if BK_PAAS3_URL:
                              <a href="${BK_PAAS3_URL}" target="_blank" class="mr40" style="font-size:16px;color:#459ae9;">${_(u'体验新版开发者中心')}</a>
                              % endif

                              % if EDITION == "ee":
                              <a href="#" class="nickname" title="${request.user.username if request.user and request.user.username else ''}">${request.user.username if request.user and request.user.username else ''}</a>
                               <a href="#">
                                <img src="${STATIC_URL}img/getheadimg.jpg" class="avatar">
                                  <!-- removce the is super user check here -->
                                  <!-- <i class="crown"></i> -->
                               </a>
                              % else:
                              <a href="${SITE_URL}accounts/profile/" class="nickname" title="${request.user.username if request.user and request.user.username else ''}">${request.user.username if request.user and request.user.username else ''}</a>
                               <a href="${SITE_URL}accounts/profile/">
                                <img src="${STATIC_URL}img/getheadimg.jpg" class="avatar">
                                  <!-- removce the is super user check here -->
                                  <!-- <i class="crown"></i> -->
                               </a>
                              % endif
                        </div>
                        % if request.user.username:
                            <div class="account_meta account_logout account_meta_primary"><a id="logout" href="${LOGOUT_URL}">${_(u'注销')}</a></div>
                        % endif
                    </div>

                </div>
            </div>

        </div>
        <!-- 头部横向导航 end -->
    </%block>
      <!-- 中间主体内容 start -->
      <div id="body" class="body page_index">
          <div id="js_container_box" class="container_box cell_layout side_l">

            <%block name="body_content">
              <!-- 左侧导航 start -->
              <div class="col_side">
                <%block name='left_content'>
                </%block>
              </div>
              <!-- 左侧导航 end -->

              <!-- 右侧内容 start -->
              <div class="col_main">
                <%block name="right_content_base">
                </%block>
              </div>
              <!-- 右侧内容 end -->
            </%block>

          </div>

          <div id="return_top" class="return_btn return_top" href="#" title="${_(u'返回顶部')}" style="display:none;">
          <span aria-hidden="true" class="glyphicon glyphicon-chevron-up"></span>
        </div>
        <div id="return_bottom" class="return_btn return_bottom" href="#" title="${_(u'返回底部')}" style="display:none;">
          <span aria-hidden="true" class="glyphicon glyphicon-chevron-down"></span>
        </div>

        <!-- <div class="faq"> -->
          <!-- <ul class="links"> -->
            <!-- <li class="links_item"><a href="mailto:contactus_bk@tencent.com" style="font-size:14px;">联系我们</a></li> -->
          <!-- </ul> -->
          <!-- <p class="tail">contactus_bk@tencent.com</p> -->
        <!-- </div> -->
      </div>
      <!-- 中间主体内容 end -->
      <!-- 尾部声明 start -->
      <div class="foot" id="footer">
        <ul class="links ft">
            <li>
                <a id="contact_us" class="link">${_(u'QQ咨询(800802001)')}</a>
                | <a href="https://bk.tencent.com/s-mart/community/" target="_blank" hotrep="hp.footer.feedback" class="link">${_(u'蓝鲸论坛')}</a>
                | <a href="https://bk.tencent.com/" target="_blank" hotrep="hp.footer.feedback" class="link">${_(u'蓝鲸官网')}</a>
                | <a href="${SITE_URL}" target="_blank" hotrep="hp.footer.feedback" class="link">${_(u'蓝鲸智云桌面')}</a>
            </li>
            <li><p class="copyright">Copyright © 2012-${NOW.year} Tencent BlueKing. All Rights Reserved.</p> </li>
          <li><p class="copyright">${_(u'蓝鲸智云 版权所有')}</p> </li>
        </ul>
      </div>
      <!-- 尾部声明 end -->
      <!--logo修改-->
      <div id="div_m_logo" style="display:none">
          <form method='post' id='form_logo' action=''  enctype='multipart/form-data'>
              <input type="hidden" name="csrfmiddlewaretoken" value="${csrf_token}"/>
              <input type='file' name='logo_m' id='logo_m'>
              <div class="ml3 mt10" style="color:#999;">${_(u'建议LOGO大小为100px*100px')}</div>
              <div class="ml3 mt10" style="color:red" id="logo_error_tips"></div>
              <div class="ml3 mt10" style="color:green" id="logo_success_tips"></div>
          </form>
          <iframe name="logo_target_frame" style="display:none;"></iframe>
      </div>
      <!-- jQery库 公共脚本 -->
      <script src="${STATIC_URL}assets/jquery-1.8.2.min.js"></script>
      <script src="${STATIC_URL}assets/jquery.zeroclipboard-0.2.0/jquery.zeroclipboard.min.js"></script>
      <!-- bootstrap JS 公共脚本 -->
      <script src="${STATIC_URL}assets/bootstrap-3.1.1/js/bootstrap.min.js"></script>
      <!-- bkdialog -->
      <script src="${STATIC_URL}assets/bkDialog-1.0/js/dialog.js"></script>
      <!--select2-->
      <script src="${STATIC_URL}assets/select2-3.5.3/select2.min.js"></script>
      <!--[if lt IE 9]>
        <script src="${STATIC_URL}assets/html5shiv-3.7.2.min.js"></script>
        <script src="${STATIC_URL}assets/respond-1.4.2.min.js"></script>
      <![endif]-->
      <!-- Pass配置文件  -->
      <script src="${STATIC_URL}js/core.${JS_SUFFIX}?v=${STATIC_VERSION}"></script>
      <script src="${STATIC_URL}js/utils.${JS_SUFFIX}?v=${STATIC_VERSION}"></script>
      <script src="${STATIC_URL}js/paas_base.${JS_SUFFIX}?v=${STATIC_VERSION}"></script>
      <!-- js 国际化 -->
      <script type="text/javascript" src="${SITE_URL}jsi18n/i18n/"></script>
      <!-- paas-dialog -->
      <script src="${STATIC_URL}js/paas-dialog.js?v=${STATIC_VERSION}"></script>
      <div class="paas-dialog-wrapper">
        <div class="paas-dialog-box">
          <div class="paas-dialog-content">
            <div class="paas-dialog-header">
              <span class="close">&times;</span>
              <span class="paas-dialog-header-title"></span>
            </div>
            <div class="paas-dialog-body">
              <p style="color: #313238;">${_(u'蓝鲸开发者中心已经推出全新版本，包含以下特性：')}</p>
              <ul class="content">
                <li class="item">1. ${_(u'全新设计的用户界面，给您更友好的体验')}</li>
                <li class="item">2. ${_(u'支持使用 Node.js、Python 等语言开发应用')}</li>
                <li class="item">3. ${_(u'支持前后端分离的开发模式')}</li>
                <li class="item">4. ${_(u'支持自定义后台进程及启动命令')}</li>
                <li class="item">5. ${_(u'支持使用对象存储（bk-repo） 等“增强服务”')}</li>
                <li class="item">6. ${_(u'全面升级的应用开发框架')}</li>
              </ul>
              <p style="margin-bottom: 20px; font-weight: bold; color: #313238;">
                ${_(u'当前旧版已不再支持新应用创建，感谢您的支持。')}
              </p>
            </div>
            <div class="paas-dialog-foot">
              <button class="paas-create-btn">${_(u'去新版创建应用')}</button>
            </div>
          </div>
        </div>
      </div>
      <script>
        function recommend_paas3(){
          var paas3_mask = new PaasDialog({
            width: '565px',
            title: gettext('马上体验全新蓝鲸开发者中心'),
            url: '${BK_PAAS3_URL}'
          });
          paas3_mask.show();
        }
      </script>
      <!-- 兼容性设置 -->
      <!--[if lt IE 6]>\xe8\x93\x9d\xe9\xb2\xb8\xe6\x99\xba\xe8\x90\xa5\x20\xe7\x89\x88\xe6\x9d\x83\xe6\x89\x80\xe6\x9c\x89<![endif]-->
      <%block name="base_app">
      </%block>
      ${self.body()}

</body>
</html>
