{% load i18n %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{% trans 'CSRF验证失败' %}</title>
<link href="/static/css/base.min.css?v=1.0.1" rel="stylesheet" type="text/css"/>
<style type="text/css">
	body {
		min-width: initial !important;
		background: none;
	}
</style>
</head>

<body style="font-family:Microsoft Yahei;margin-left: -800px" class="king-errorpage-middle">
	<!--HTML-->
	<div class="king-exception-box king-login-page" style="width:1600px">
		<img src="/static/img/error/403.png">
		<h1>{% trans 'CSRF验证失败' %}</h1>
		<div>
			<p>{% trans '您看到此消息是由于该站点在提交表单时需要一个CSRF cookie。此项是出于安全考虑，以确保您的浏览器没有被第三方劫持。' %}</p>
			<p>{% trans '如果您已经设置浏览器禁用cookies，请重新启用，至少针对这个站点，全部HTTPS请求，或者同源请求（same-origin）启用cookies。' %}</p>
			<p style="margin-top:10px"><a href="{{LOGOUT_URL}}">{% trans '重新登录' %}</a></p>
		</div>
	</div>
</body>

</html>
