{% load i18n %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{% trans '页面找不到（404页）' %}</title>
<link href="/static/css/base.min.css?v=1.0.1" rel="stylesheet" type="text/css"/>
<style type="text/css">
    body {
        min-width: initial !important;
        background: none;
    }
</style>
</head>

<body style="font-family:Microsoft Yahei;" class="king-errorpage-middle">
    <!--HTML-->
    <div class="king-exception-box king-500-page">
        <img src="/static/img/error/404.png">
        <h1>{% trans '页面找不到了' %}</h1>
    </div>
</body>
</html>
