.select2-container .select2-choice {
  height: 36px;
  border-radius: 1px;
  border-color: #ccc;
}
.select2-container .select2-choice > .select2-chosen {
  font-size: 14px;
  line-height: 34px;
}
.select2-container .select2-choice .select2-arrow {
  width: 34px;
  border: none;
}
.select2-container .select2-choice .select2-arrow b {
  background-image: url("triangle.png");
  background-repeat: no-repeat;
  background-size: 10px 6px;
  background-position: 50% 50%;
}
.select2-container-multi.select2-container-active .select2-choices {
  border-color: #57a3f1;
}
.select2-dropdown-open .select2-choice {
  border-color: #57a3f1;
  background-color: #fff;
}
.select2-drop-active {
  border: 1px solid #ddd;
  box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.11);
  border-radius: 3px;
  margin-top: 5px;
}
.select2-results {
  margin: 0;
  padding: 0;
}
.select2-results li {
  padding: 14px 15px;
  cursor: pointer;
  border-bottom: 1px solid #f3f3f3;
}
.select2-results li.select2-result-with-children {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}
.select2-results li.select2-result-with-children > .select2-result-label {
  padding-left: 5px;
  padding-bottom: 5px;
}
.select2-results .select2-result-label {
  padding: 0;
  line-height: 1;
}
.select2-results .select2-highlighted {
  background-color: #f3f3f3;
  color: #666;
}
.select2-results .select2-no-results {
  padding: 14px 15px;
}
.select2-drop {
  color: #666;
}
.select2-search {
  padding: 14px 15px;
}
.select2-search input {
  margin: 0;
  border-top: none;
  border-left: none;
  border-right: none;
}
.select2-result-with-children li {
  border-bottom: none;
}
