{% load i18n %}
<div class="foot" id="footer">
    <ul class="links ft">
        <li>
        <a id="contact_us" class="link">{% trans "QQ咨询(800802001)" %}</a>
        | <a href="http://bbs.bk.tencent.com/forum.php" target="_blank" hotrep="hp.footer.feedback" class="link">{% trans "蓝鲸论坛" %}</a>
        | <a href="http://bk.tencent.com/" target="_blank" hotrep="hp.footer.feedback" class="link">{% trans "蓝鲸官网" %}</a>
        | <a href="{{SITE_URL}}" target="_blank" hotrep="hp.footer.feedback" class="link">{% trans "蓝鲸智云工作台" %}</a>
        </li>
        <li><p class="copyright">Copyright © 2012-{{NOW.year}} Tencent BlueKing. All Rights Reserved.</p> </li>
    </ul>
</div>
