django==1.11.29
dj-static==0.0.6
mako==1.0.4
pycrypto==2.6.1
requests==2.21.0
gunicorn==19.9.0
uWSGI==2.0.13.1
elasticsearch==7.7.1
pymysql==0.6.7
redis==2.10.5
PyYAML==5.1
Pillow==6.2.2
gevent==1.5.0
pytz==2016.6.1
python-dateutil==2.8.1
boto==2.43.0
cachetools==3.1.1
ConcurrentLogHandler==0.9.1

# for esb
jinja2==2.11.3
django-bootstrap-form==3.4
Markdown==2.6.6
pygments==2.1.3

# for apigw
enum34==1.1.6

# for config
django-environ==0.4.5

# iam
bk_iam==1.1.9

# prometheus metrics
django-prometheus==1.0.15
future==0.18.2
