{% load i18n %}
<div class="foot" id="footer">
    <ul class="links ft">
        <li>
            <a href="https://wpa1.qq.com/KziXGWJs?_type=wpa&qidian=true" target="_blank">{% trans "技术支持" %}</a>
            | <a href="https://bk.tencent.com/s-mart/community/" target="_blank" hotrep="hp.footer.feedback" class="link">{% trans "社区论坛" %}</a>
            | <a href="http://bk.tencent.com/" target="_blank" hotrep="hp.footer.feedback" class="link">{% trans "产品官网" %}</a>
        </li>
        <li><p class="copyright">Copyright © 2012-{{NOW.year}} Tencent BlueKing. All Rights Reserved.</p> </li>
    </ul>
</div>
