html {
	-ms-text-size-adjust:100%;
	-webkit-text-size-adjust:100%;
	overflow-y: scroll;
}


/*webkit滚动条样式*/
::-webkit-scrollbar-track-piece{background-color:#f5f5f5;border-left:1px solid #d2d2d2}
::-webkit-scrollbar{width:13px;height:13px}
::-webkit-scrollbar-thumb{background-color:#c2c2c2;background-clip:padding-box;border:1px solid #979797;min-height:28px}
::-webkit-scrollbar-thumb:hover{border:1px solid #636363;background-color:#929292}

body {
	-webkit-font-smoothing:antialiased;
	line-height:1.6
}
input,textarea,button,a {
	outline:0
}
body,h1,h2,h3,h4,h5,h6,p,ul,ol,dl,dd,fieldset,textarea {
	margin:0
}
fieldset,legend,textarea,input {
	padding:0
}
ul,ol {
	padding-left:0;
	list-style-type:none
}
a img,fieldset {
	border:0
}
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary {
	display:block
}
audio,canvas,video {
	display:inline-block
}
audio:not([controls]) {
	display:none;
	height:0
}
[hidden] {
	display:none
}
svg:not(:root) {
	overflow:hidden
}
figure {
	margin:0
}
button,input,select,textarea {
	font-family:inherit;
	font-size:100%;
	margin:0
}
button,select {
	text-transform:none
}
button,html input[type="button"],input[type="reset"],input[type="submit"] {
	cursor:pointer;
	-webkit-appearance:button
}
button[disabled],html input[disabled] {
	cursor:default
}
input[type="checkbox"],input[type="radio"] {
	box-sizing:border-box;
	padding:0
}
input[type="search"] {
	box-sizing:content-box;
	-moz-box-sizing:content-box;
	-webkit-appearance:textfield;
	-webkit-box-sizing:content-box
}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration {
	-webkit-appearance:none
}

button::-moz-focus-inner,input::-moz-focus-inner {
	border:0;
	padding:0
}
textarea {
	overflow:auto;
	vertical-align:top;
	resize:none
}
input:-webkit-autofill,textarea:-webkit-autofill,select:-webkit-autofill {
	box-shadow:inset 0 0 0 1000px #fff;
	-moz-box-shadow:inset 0 0 0 1000px #fff;
	-webkit-box-shadow:inset 0 0 0 1000px #fff
}
select {
	border-radius:0;
	-webkit-border-radius:0
}
body {
	line-height:1.6;
	font-family:"Helvetica Neue","Hiragino Sans GB","Microsoft YaHei","微软雅黑","黑体",Arial,sans-serif,"\xe8\x93\x9d\xe9\xb2\xb8\xe6\x99\xba\xe8\x90\xa5";
	color:#222;
	font-size:14px
}
textarea,input {
	color:#222
}
textarea::-webkit-input-placeholder,input::-webkit-input-placeholder {
	color:#a3a3a3
}
textarea:-moz-placeholder,input:-moz-placeholder {
	color:#a3a3a3
}
textarea::-moz-placeholder,input::-moz-placeholder {
	color:#a3a3a3
}
textarea:-ms-input-placeholder,input:-ms-input-placeholder {
	color:#a3a3a3
}
textarea {
	resize:none;
	overflow-y:auto
}
a {
	color:#459ae9;
	text-decoration:none
}
a:hover {
	text-decoration:underline
}
button,input,select,textarea {
	*font-family:"Helvetica Neue","Hiragino Sans GB","Microsoft YaHei","微软雅黑","黑体",Arial,sans-serif
}

/*公用css*/
/* 文本样式定义--begin
 --------------------------------*/
.t_s20 {font-size:20px}
.t_s19 {font-size:19px}
.t_s18 {font-size:18px}
.t_s17 {font-size:17px}
.t_s16 {font-size:16px}
.t_s15 {font-size:15px}
.t_s14 {font-size:14px}
.t_s13 {font-size:13px}
.t_s12 {font-size:12px}
.t_l {text-align:left}
.t_c {text-align:center}
.t_r {text-align:right}
.t_b {font-weight:bold}
.t_it {font-style:italic}
.t_n {font-weight:normal}
.t_no {text-decoration:none}
.t_udl {text-decoration:underline}
.t_del {text-decoration:line-through}
.t_unbr {overflow:hidden; text-overflow:ellipsis; white-space:nowrap}
.t_br {word-wrap:break-word; word-break:normal}
.t_unbr_auto{ white-space:nowrap; overflow:visible;}
.align {font-size:12px}
.align label input {display:block}
.align label {display:block; margin-left:20px !important; margin-left:11px; margin-top:-16px}
/* 文本字体大小--end
 --------------------------------*/
.t_white{color:#FFF;}
.t_white a{color:#FFF;}
.t_white .active a,.t_white .active a:hover{color:#555555}
.t_blue{color:#2985c2}
.t_red{color:#ff0000}
.t_yellow{color:#ff9900}
.t_succes,.t_success,.t_green{color: #468847}
.t_error{color: #b94a48}
.t_help{color: #c09853}
.t_info{color: #3a87ad}
.t_silver{color:#999999}


/* 外边距定义--begin
 --------------------------------*/
.mg60 {margin:60px;}
.mg55 {margin:55px;}
.mg50 {margin:50px;}
.mg45 {margin:45px;}
.mg40 {margin:40px;}
.mg30 {margin:30px}
.mg25 {margin:25px}
.mg20 {margin:20px}
.mg15 {margin:15px}
.mg10 {margin:10px}
.mg5 {margin:5px}
.mg4 {margin:4px}
.mg3 {margin:3px}
.mg2 {margin:2px}
.mg1 {margin:1px}
.mg0 {margin:0}

.mtb50 {margin:50px 0}
.mtb45 {margin:45px 0}
.mtb40 {margin:40px 0}
.mtb35 {margin:35px 0}
.mtb30 {margin:30px 0}
.mtb25 {margin:25px 0}
.mtb20 {margin:20px 0}
.mtb15 {margin:15px 0}
.mtb10 {margin:10px 0}
.mtb5 {margin:5px 0}
.mtb4 {margin:4px 0}
.mtb3 {margin:3px 0}
.mtb2 {margin:2px 0}
.mtb1 {margin:1px 0}

.mtr {margin:-2px 15px 0 0}
.mlr60 {margin:0 60px}
.mlr55 {margin:0 55px}
.mlr50 {margin:0 50px}
.mlr45 {margin:0 45px}
.mlr40 {margin:0 40px}
.mlr35 {margin:0 35px}
.mlr30 {margin:0 30px}
.mlr25 {margin:0 25px}
.mlr20 {margin:0 20px}
.mlr15 {margin:0 15px}
.mlr10 {margin:0 10px}
.mlr5 {margin:0 5px}
.mlr4 {margin:0 4px}
.mlr3 {margin:0 3px}
.mlr2 {margin:0 2px}
.mlr1 {margin:0 1px}

.mt55 {margin-top:55px; *padding-top:55px}
.mt50 {margin-top:50px}
.mt40 {margin-top:40px; *padding-top:40px}
.mt36 {margin-top:36px; *padding-top:36px}
.mt35 {margin-top:35px}
.mt30 {margin-top:30px}
.mt25 {margin-top:25px}
.mt20 {margin-top:20px}
.mt15 {margin-top:15px}
.mt10 {margin-top:10px}
.mt5 {margin-top:5px}
.mt4 {margin-top:4px}
.mt3{margin-top:3px}
.mt2{margin-top:2px}
.mt1{margin-top:1px}
.mt0 {margin-top:0}

.mr50 {margin-right:50px}
.mr45 {margin-right:45px}
.mr40 {margin-right:40px}
.mr35 {margin-right:35px}
.mr30 {margin-right:30px}
.mr25 {margin-right:25px}
.mr20 {margin-right:20px}
.mr15 {margin-right:15px}
.mr10 {margin-right:10px}
.mr5 {margin-right:5px}
.mr4 {margin-right:4px}
.mr3 {margin-right:3px}
.mr2 {margin-right:2px}
.mr1 {margin-right:1px}
.mr0 {margin-right:0}

.mb50 {margin-bottom:50px}
.mb45 {margin-bottom:45px}
.mb40 {margin-bottom:40px}
.mb35 {margin-bottom:35px}
.mb30 {margin-bottom:30px}
.mb25 {margin-bottom:25px}
.mb20 {margin-bottom:20px}
.mb15 {margin-bottom:15px}
.mb10 {margin-bottom:10px}
.mb5 {margin-bottom:5px}
.mb4 {margin-bottom:4px}
.mb3 {margin-bottom:3px}
.mb2 {margin-bottom:2px}
.mb1 {margin-bottom:1px}
.mb0 {margin-bottom:0}

.ml50 {margin-left:50px}
.ml45 {margin-left:45px}
.ml40 {margin-left:40px}
.ml35 {margin-left:35px}
.ml30 {margin-left:30px}
.ml25 {margin-left:25px}
.ml20 {margin-left:20px}
.ml15 {margin-left:15px}
.ml10 {margin-left:10px}
.ml5 {margin-left:5px}
.ml4 {margin-left:4px}
.ml3 {margin-left:3px}
.ml2 {margin-left:2px}
.ml1 {margin-left:1px}
.ml0 {margin-left:0px}

.m_t4 {margin-top:-4px}
.m_l14{margin-left:-14px}
.m_c {margin:0 auto; width:600px}
.m_c50 {margin:0 auto; width:50%}
.mlr_auto {margin:0 auto}
.mr_nav {margin-top:-37px; margin-right:10px}
/* 外边距定义--end
 --------------------------------*/
.cursor_point{cursor:pointer}
.cursor_default{cursor:default}
/* 内边距定义--begin
 --------------------------------*/
.pg60 {padding:60px}
.pg55 {padding:55px}
.pg50 {padding:50px}
.pg45 {padding:45px}
.pg40 {padding:40px}
.pg35 {padding:35px}
.pg30 {padding:30px}
.pg25 {padding:25px}
.pg20 {padding:20px}
.pg15 {padding:15px}
.pg10 {padding:10px}
.pg5 {padding:5px}
.pg4 {padding:4px}
.pg3 {padding:3px}
.pg2 {padding:2px}
.pg1 {padding:1px}
.pg0 {padding:0px}

.ptb60 {padding:60px 0}
.ptb55 {padding:55px 0}
.ptb50 {padding:50px 0}
.ptb45 {padding:45px 0}
.ptb40 {padding:40px 0}
.ptb35 {padding:35px 0}
.ptb30 {padding:30px 0}
.ptb25 {padding:25px 0}
.ptb20 {padding:20px 0}
.ptb15 {padding:15px 0}
.ptb10 {padding:10px 0}
.ptb5 {padding:5px 0}
.ptb4 {padding:4px 0}
.ptb3 {padding:3px 0}
.ptb2 {padding:2px 0}
.ptb1 {padding:1px 0}

.plr60 {padding:0 60px}
.plr55 {padding:0 55px}
.plr50 {padding:0 50px}
.plr45 {padding:0 45px}
.plr40 {padding:0 40px}
.plr35 {padding:0 35px}
.plr30 {padding:0 30px}
.plr25 {padding:0 25px}
.plr20 {padding:0 20px}
.plr15 {padding:0 15px}
.plr10 {padding:0 10px}
.plr5 {padding:0 5px}
.plr4 {padding:0 4px}
.plr3 {padding:0 3px}
.plr2 {padding:0 2px}
.plr1 {padding:0 1px}

.pt60{padding-top:60px}
.pt55{padding-top:55px}
.pt50{padding-top:50px}
.pt45{padding-top:45px}
.pt40{padding-top:40px}
.pt35 {padding-top:35px}
.pt25 {padding-top:25px}
.pt20 {padding-top:20px}
.pt15 {padding-top:15px}
.pt10 {padding-top:10px}
.pt5 {padding-top:5px}
.pt4 {padding-top:4px}
.pt3 {padding-top:3px}
.pt2 {padding-top:2px}
.pt1 {padding-top:1px}
.pt0 {padding-top:0}

.pr60 {padding-right:60px}
.pr55 {padding-right:55px}
.pr50 {padding-right:50px}
.pr45 {padding-right:45px}
.pr40 {padding-right:40px}
.pr35 {padding-right:35px}
.pr30 {padding-right:30px}
.pr25 {padding-right:25px}
.pr20 {padding-right:20px}
.pr15 {padding-right:15px}
.pr10 {padding-right:10px}
.pr5 {padding-right:5px}
.pr4 {padding-right:5px}
.pr3 {padding-right:5px}
.pr2 {padding-right:5px}
.pr1 {padding-right:1px}
.pr0 {padding-right:0px}

.pb60 {padding-bottom:60px}
.pb55 {padding-bottom:55px}
.pb50 {padding-bottom:50px}
.pb45 {padding-bottom:45px}
.pb40 {padding-bottom:40px}
.pb35 {padding-bottom:35px}
.pb30 {padding-bottom:30px}
.pb25 {padding-bottom:25px}
.pb20 {padding-bottom:20px}
.pb15 {padding-bottom:15px}
.pb10 {padding-bottom:10px}
.pb5 {padding-bottom:5px}
.pb4 {padding-bottom:4px}
.pb3 {padding-bottom:3px}
.pb2 {padding-bottom:2px}
.pb1 {padding-bottom:1px}
.pb0 {padding-bottom:0px}

.pl60 {padding-left:60px}
.pl55 {padding-left:55px}
.pl50 {padding-left:50px}
.pl45 {padding-left:45px}
.pl40 {padding-left:40px}
.pt37 {padding-top:36px}
.pl35 {padding-left:35px}
.pt30 {padding-top:30px}
.pl25 {padding-left:25px}
.pl20 {padding-left:20px}
.pl15 {padding-left:15px}
.pl10 {padding-left:10px}
.pl5 {padding-left:5px}
.pl4 {padding-left:4px}
.pl3 {padding-left:3px}
.pl2 {padding-left:2px}
.pl1 {padding-left:1px}
.pl0 {padding-left:0px}
.p_all {padding:5px 15px}
/* 内边距定义--end
 --------------------------------*/

/* 浮动元素--begin
 --------------------------------*/
 .f_r {float:right}
 .f_l {float:left}
 .f_no {float:none}
 .f_l10 {float:left; width:10%}
 .f_l90 {float:left; width:90%}
/* 浮动元素--end
 --------------------------------*/

/* 清楚浮动--begin
 --------------------------------*/
 .c_r {clear:right}
 .c_l {clear:left}
 .c_b {clear:both}

/*===================================================*\
 * 异常页面的样式
\*===================================================*/
.king-errorpage-middle {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -185px;
  margin-left: -268px;
}
.king-errorpage-middle .king-exception-box img {
  vertical-align: middle;
  display: inherit;
  margin: 0 auto;
}
.king-errorpage-middle .king-exception-box h1 {
  font-weight: normal;
  line-height: 1.1;
  font-size: 28px;
  margin: 26px 0;
  color: #2b2c2d;
}
.king-errorpage-middle .king-exception-box p {
  font-size: 16px;
  color: #505152;
}
.king-errorpage-middle .king-exception-box .king-403-btn1, .king-errorpage-middle .king-exception-box .king-403-btn2 {
  font-size: 14px;
}
.king-errorpage-middle .king-exception-box .king-403-btn2 {
  background: #5CB85C;
}
.king-errorpage-middle .king-exception-box .king-login-back {
  font-size: 12px;
}
.king-errorpage-middle .king-exception-box .king-login-back span {
  color: #5d9cec;
}
.king-errorpage-middle .king-exception-box .king-login-back a {
  padding: 3px 10px;
  font-size: 14px;
}

.king-500-page, .king-401-page, .king-login-page, .king-403-page {
  width: 536px;
  text-align: center;
  margin: auto;
  font-family: STHeiti, "微软雅黑", Arial;
}

.king-login-fail {
  width: 536px;
  height: 300px;
  text-align: center;
  margin: auto;
}
.king-login-fail .login-tip {
  margin-top: 20px;
  font-size: 14px;
}
.king-login-fail .login-tip a {
  font-size: 14px;
  margin-left: 10px;
}

.king-500-page1 {
  font-family: STHeiti, "微软雅黑", Arial;
  color: #616161;
}
.king-500-page1 .error-number {
  font-size: 100px;
}
.king-500-page1 .error-title {
  font-size: 14px;
  font-weight: bold;
  margin: 15px 0;
}
.king-500-page1 .error-tip {
  font-size: 12px;
}
.king-500-page1 .error-tip a {
  color: #616161;
  display: inline;
  background: none;
  padding: 0;
  margin: 0;
  font-size: 12px;
}
