.inline-block{display: inline-block;}
.deploy_box .btn{margin:0;}
.deploy_box{margin-top: -10px; margin: 0; padding: 10px;}
.bushu-file{height: 40px;line-height: 40px;margin-bottom: 20px;}
.deploy_box .choose-file-btn{width:200px;height: 40px;line-height: 40px;background: #F4F4F4;color: #555;border-color: #ddd;font-weight: 400;margin-right: 10px;font-size:14px;}
.choose-file-btn:hover,.choose-file-btn:focus{background: #E6E6E6;color: #555;border-color: #ddd;}
#detail_info{box-shadow: none;border-color: #ddd;}
#saas_file{opacity: 0;position: absolute;top: -1000px;}
.import-validate{display: inline-block;}
.not-bold{font-weight: 200;}
