.app-flowp{
	text-align:center;
	margin-left:80px;
	margin-top:10px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 5px;
	padding-right: 5px;
	width:320px;
	border: 1px solid #e5e5e5;
	border-radius:5px;
}
.app-tip p {
	font-size: 14px;
	display: block;
	color: #5b5b5b;
	border-bottom: none;
}
.t_grey{color:#999;}

.form-control:hover, .form-control:focus{
    border-color: #66afe9;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}
.can_a{
    color: #FBC15E;
}
.app-logo-edit a{
  position: relative;
}
.app-logo-edit-mask{
  position: absolute;
  width: 40px;
  height: 40px;
  background: rgba(0,0,0,.5);
  left: 0;
  top: 0;
  text-align: center;
  line-height: 40px;
  color: #fff;
  display: none;
}
.app-logo-edit-mask i{
    position: absolute;
    right: 0px;
    bottom: 0px;
}
.app-logo-edit a:hover .app-logo-edit-mask{
    display: block;
}
